@page "/Rooms/Create"

<PageTitle>Create Room</PageTitle>

<RadzenCard class="w-50 m-auto">
    <h3>Create Room</h3>

    <RadzenTemplateForm TItem="RoomDto" Data="@Model" Submit=@OnSubmit InvalidSubmit=@OnInvalidSubmit>
        <div class="row">
            <div class="col-12 mb-2">
                <RadzenText Text="Room Code" />
            </div>
            <div class="col-12 mb-2">
                <RadzenTextBox @bind-Value=@Model.Code Name="Code" MaxLength="20" class="w-100" />
                <RadzenRequiredValidator Component="Code" Text="Room Code is required" />
            </div>

            <div class="col-12 mb-2">
                <RadzenText Text="Location" />
            </div>
            <div class="col-12 mb-2">
                <RadzenTextBox @bind-Value=@Model.Location Name="Location" class="w-100" />
            </div>

            <div class="col-12">
                <RadzenButton ButtonType="ButtonType.Submit" Text="Save" />
            </div>
        </div>

    </RadzenTemplateForm>
</RadzenCard>

@code {
    private RoomDto Model{ get; set; }

    protected override void OnInitialized()
    {
        base.OnInitialized();
        Model = new RoomDto();
    }

    private void OnSubmit(RoomDto model)
    {
    }

    void OnInvalidSubmit(FormInvalidSubmitEventArgs args)
    {
    }
}
