@inject IRoomService RoomService
@inject DialogService DialogService
@inject INotificationService NotifyService
@inject ILogger<DeleteRoom> Logger


<div class="row">
    <div class="col-12 mb-2">
        Are your want to delete the Room [@Code] ?
    </div>
    <div class="col-12b">
        <RadzenButton Text="Save" ButtonStyle="ButtonStyle.Danger" Click="OnDelete" />
        <RadzenButton Text="Cancel" Click="OnCancel" ButtonStyle="ButtonStyle.Light" />
    </div>
</div>
@code {
    [Parameter]
    public Guid Id { get; set; }

    [Parameter]
    public string Code { get; set; }

    private void OnDelete()
    {
        try
        {
            (bool success, List<string> errors) = RoomService.DeleteRoom(Id);
            if (success)
            {
                NotifyService.Success("Deleted Room Success.");
            }
            else
            {
                NotifyService.Error("Delete Room Error.");
            }

        }
        catch (Exception ex)
        {
            NotifyService.Error("Delete Room Error.");
            Logger.LogError($"Error: {ex.Message}");
        }

        DialogService.Close(true);
    }

    private void OnCancel()
    {
        DialogService.Close(true);
    }
}
