@page "/Rooms"
@inject IRoomService RoomService
@inject NavigationManager Navigation

<PageTitle>Rooms</PageTitle>

<RadzenCard>
    <h3>Rooms</h3>
    <div class="d-flex justify-content-end py-2">
        <RadzenButton Click=@(args => CreateRoom(args)) Icon="add_circle_outline" Text="Add Room" ButtonStyle="ButtonStyle.Primary" />
    </div>

    <RadzenDataGrid AllowFiltering="true" AllowColumnResize="true" AllowAlternatingRows="false" FilterMode="FilterMode.Advanced" AllowSorting="true"
                    PageSize="20" AllowPaging="true" PagerHorizontalAlign="HorizontalAlign.Left" ShowPagingSummary="true"
                    Data="@rooms" TItem="RoomDto" ColumnWidth="300px"
                    LogicalFilterOperator="LogicalFilterOperator.Or" IsLoading="@isLoading" LoadData="Load" Count="@count">
        <Columns>
            <RadzenDataGridColumn TItem="RoomDto" Property="Code" Title="Code" Frozen="true" Width="100px" TextAlign="TextAlign.Center" />
            <RadzenDataGridColumn TItem="RoomDto" Property="Location" Title="Location" />
        </Columns>
    </RadzenDataGrid>
</RadzenCard>

@code {
    IEnumerable<RoomDto> rooms;
    bool isLoading = false;
    int count;
    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();

    }

    void Load(LoadDataArgs args)
    {
        isLoading = true;

        rooms = RoomService.GetRooms(args, out count);

        isLoading = false;
    }

    void CreateRoom(MouseEventArgs events)
    {
        Navigation.NavigateTo("/Rooms/Create");
    }
}
