@page "/Teachers/Create"

<PageTitle>Create Teacher</PageTitle>

<RadzenCard class="w-50 m-auto">
    <h3>Create Room</h3>

    <RadzenTemplateForm TItem="TeacherDto" Data="@Model" Submit=@OnSubmit InvalidSubmit=@OnInvalidSubmit>
        <div class="row">
            <div class="col-12 mb-2">
                <RadzenText Text="Teacher Code" />
            </div>
            <div class="col-12 mb-2">
                <RadzenTextBox @bind-Value=@Model.Code Name="Code" MaxLength="20" class="w-100" />
                <RadzenRequiredValidator Component="Code" Text="Teacher Code is required" />
            </div>

            <div class="col-12 mb-2">
                <RadzenText Text="First Name" />
            </div>
            <div class="col-12 mb-2">
                <RadzenTextBox @bind-Value=@Model.FirstName Name="FirstName" class="w-100" />
                <RadzenRequiredValidator Component="FirstName" Text="First Name is required" />
            </div>

            <div class="col-12 mb-2">
                <RadzenText Text="Location" />
            </div>
            <div class="col-12 mb-2">
                <RadzenTextBox @bind-Value=@Model.LastName Name="LastName" class="w-100" />
            </div>

            <div class="col-12 mb-2">
                <RadzenText Text="Email" />
            </div>
            <div class="col-12 mb-2">
                <RadzenTextBox @bind-Value=@Model.Email Name="Email" class="w-100" />
                <RadzenEmailValidator Component="Email" Text="Email format is incorrect" />
            </div>

            <div class="col-12">
                <RadzenButton ButtonType="ButtonType.Submit" Text="Save" />
            </div>
        </div>

    </RadzenTemplateForm>
</RadzenCard>


@code {
    private TeacherDto Model { get; set; }

    protected override void OnInitialized()
    {
        base.OnInitialized();
        Model = new TeacherDto();
    }

    private void OnSubmit(TeacherDto model)
    {
    }

    void OnInvalidSubmit(FormInvalidSubmitEventArgs args)
    {
    }
}
